{% extends 'base.html' %}

{% block content %}
<h1>East Bay cycling routes</h1>
<div>
    <div id="route-container">
        <div>
            <iframe src='https://connect.garmin.com/modern/course/embed/49790132'
                    width='465'
                    height='548'
                    frameborder='0'>
            </iframe>

            <iframe src='https://connect.garmin.com/modern/course/embed/49079692'
                    width='465'
                    height='548'
                    frameborder='0'>
            </iframe>

            <iframe src='https://connect.garmin.com/modern/course/embed/47806974'
                    width='465'
                    height='548'
                    frameborder='0'>
            </iframe>

            <iframe src='https://connect.garmin.com/modern/course/embed/47806600'
                    width='465'
                    height='548'
                    frameborder='0'>
            </iframe>

            <iframe src='https://connect.garmin.com/modern/course/embed/44519191'
                    width='465'
                    height='548'
                    frameborder='0'>
            </iframe>

            <iframe src='https://connect.garmin.com/modern/course/embed/37244384'
                    width='465'
                    height='548'
                    frameborder='0'>
            </iframe>

            <iframe src='https://connect.garmin.com/modern/course/embed/36126318'
                    width='465'
                    height='548'
                    frameborder='0'>
            </iframe>
        </div>
    </div>
</div>

{% endblock %}